<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container text-center">
    <i class="fas fa-key fa-6x" aria-hidden="true"></i>
    <h1 class="display-3">Secrets Vault</h1>
    <p class="lead">
      An Anonymous Secret Keeping Platform with strong encryption and user
      authentication.
    </p>
    <hr class="my-4" />
    <a
      class="btn btn-light btn-lg"
      href="/register"
      role="button"
      aria-label="Register for Secrets"
      >Register</a
    >
    <a
      class="btn btn-dark btn-lg"
      href="/login"
      role="button"
      aria-label="Login to Secrets"
      >Login</a
    >
  </div>
</div>

<%- include('partials/footer') %>
